:root {
    --bgcolor: #0E1323;

    --cardBaseColor: #1C204B;
    --cardHoverColor: #33397A;

    --dotBaseColor: #BBC0FF;
    /* ----dot hover color is white fff---- */

    --profileColor: #5747EA;
    --profileFontColor: #7078C9;
    /* -----profile font hover color is white---- */
    --descripColor: #BBC0FF;

    --work: #FF8B64;
    --play: #55C2E6;
    --study: #FF5E7D;
    --exercise: #4BCF82;
    --social: #7335D2;
    --selfCare: #F1C75B;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

.profile button{
    color: var(--profileFontColor);
}

.profileDescription, .description {
    font-weight: 400;
    font-size: 15px;
    color: var(--descripColor);
}

.profileDescription {
    font-weight: 100;
}

button {
    border: none;
    background-color: var(--cardBaseColor);
    font-size: 18px;
}

button:hover {color: white; cursor: pointer;}

#weekly.active, #daily.active, #monthly.active {
    color: white; 
    cursor: default;
}

p, button {
    color: var(--descripColor);
}

h3 {
    font-weight: 600;
    font-size: 18px;
}

h1, h2, h3 {
    color: white;
}

body {
    background-color: var(--bgcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-areas: 
    "profile work play study"
    "profile exercise social selfCare";
    grid-gap: 30px;
    max-width: 1110px;
    max-height: 518px;
}

article:not(.profile) {
    width: 255px;

    max-height: 244px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    
    section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-height: 50px;
        padding-right: 0.8em;
        position: relative;
        overflow: hidden;

        .deco {
            position: relative;
        }
    }

    aside {
        background-color: var(--cardBaseColor);
        border-radius: 15px;
        padding: 1.8em;
        max-height: 199px;
        min-height: 199px;
        position: relative;
        z-index: 3;

        .title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;


            .ellipsis {
                width: 20px;
                height: 5px;
            }
        }

        h2 {
            font-weight: 100;
            font-size: 56px;
            margin-bottom: 8px;
        }
    }
}

aside:not(.userInfo):hover {
    background-color: var(--cardHoverColor);
    cursor: pointer;
}

.profile {
    grid-area: profile;
    height: 100%;
    max-width: 255px;
    height: 518px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
        max-width: 78px;
        height: auto;
        border: 3px solid white;
        border-radius: 50%;box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 43px;
    }

    section {
        align-items: flex-start;
        order: 1;
        background-color: var(--cardBaseColor);
        height: 100%;
        border-radius: 0 0 15px 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 2em;

        button:not(:last-of-type) {
            margin-bottom: 21px;
        }
    }

    .userInfo {
        max-height: 354px;
        background-color: var(--profileColor);
        border-radius: 15px;
        padding: 2em;

        h1 {
            margin: 3px 0 40px;
            font-weight: 100;
            font-size: 40px;
        }
    }
}

.work {
    grid-area: work;
    background-color: var(--work);

    .deco {
        max-width: 78px;
        height: auto;
    }
}

.play {
    grid-area: play;
    background-color: var(--play);

    .deco {
        max-width: 90px;
        height: auto;
    }
}

.study {
    grid-area: study;
    background-color: var(--study);

    .deco {
        max-width: 78px;
        height: auto;
    }
}

.exercise {
    grid-area: exercise;
    background-color: var(--exercise);

    .deco {
        max-width: 79px;
        height: auto;
    }
}

.social {
    grid-area: social;
    background-color: var(--social);

    .deco {
        max-width: 73px;
        height: auto;
        top: -13px;
    }
}

.selfCare {
    grid-area: selfCare;
    background-color: var(--selfCare);

    .deco {
        max-width: 72px;
        height: auto;
    }
}

@media screen and (max-width: 1110px) {
body {
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: unset;
    padding: 5em 0;
}

    .container {
        grid-template-areas: 
        "profile work"
        "profile play"
        "study exercise"
        "social selfCare";
        max-width: unset;
        max-height: unset;
    }
}

@media screen and (max-width: 550px) {
    body {
        height: unset;
        padding: 5em 0;
    }
    
        .container {
            display: grid;
            grid-template-areas: 
            "profile"
            "work"
            "play"
            "study"
            "exercise"
            "social"
            "selfCare";
            grid-gap: 24px;
            max-width: 327px;
            max-height: unset;
        }
        
        article:not(.profile) {
            height: 160px;
            width: 327px;

            aside {
                height: 122px;
                max-height: none;
                min-height: unset; 
                padding: 2em 1.5em;

                .title {
                    margin-bottom: 6px;
                }

                .dataInfo {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h2 {
                        font-size: 32px;
                    }
                }
            }
        }

        .profile {
            grid-area: profile;
            height: 100%;
            max-width: 327px;
            height: 203px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        
            img {
                max-width: 64px;
                height: 64px;
                margin-bottom: 0;
            }
        
            section {
                align-items: flex-start;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding: 1.5em 0 0;
        
                button:not(:last-of-type) {
                    margin-bottom: 21px;
                }
            }
        
            .userInfo {
                max-height: 133px;
                padding: 2em;

                display: flex;
                justify-content: space-between;
                align-items: center;
        
                h1 {
                    margin: 4px 0 0;
                    font-weight: 100;
                    font-size: 24px;
                }
            }
        }
    }
    